@model car01.Models.Order_Car_LineSet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order_Car_LineSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarsSet.Car_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarsSet.Car_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdersSet.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdersSet.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_dates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_dates)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
